<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../stylesheets/customcss.css" rel="stylesheet">
  </head>

  <body class="article-content">
  <% include navbar %>
  <% include alert %>

    <!-- Main content, inclues sidebar -->
    <div class="main-container">
              <div class="jumbotron">
      <div class="container">
        <h1><%= heading %></h1>
        <hr class="header-divider">
      </div>
    </div>
            <!-- Example row of columns -->
      <div class="col-xs-6 col-sm-1 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Search tags</a>
        <input type="text" placeholder="Search" class="form-control search-box">
      </div>
    </div><!--/.sidebar-offcanvas-->

      <div class="article-container well col-xs-8 col-xs-offset-2 col-md-5 pad-bot-show">
            <a href=<%=url%> >
              <img src=<%=image%>>
            </a>
            <p><b><%= caption %></b></p>
        <hr>
        <div class="content-text">
        <%- body %>
        </div>
        <hr>
        <div class="tag-list-footer">
        <p>
        <% for(var i=0; i<tags.length; i++){%>
         <span>
          <a class="tag-link" href= "/search/<%-tags[i] %>"> <%=tags[i] %></a>
         </span>
        <% } %>
        </p>
        <!-- requires login -->
        <span class="add-tag badge badge-primary">Add Tag</span>
        <textarea rows="3" class="tag-input form-control" placeholder="Add: tag1 tag2 tag3 ..."></textarea> 
        <span class="submit-tag badge badge-success">Submit</span>
        </div>
      </div>

     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../views/js/client.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>

</html>
