<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
     <title><%=title%></title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/customcss.css" rel="stylesheet">
  </head>

  <body>
  <% include navbar %>

    <!-- Main content, inclues sidebar -->
    <div class="main-container" align="center">

      <div align="center">
        <div class="pagination"><ul class="pagination">
          <li class="prev previous_page <%if(page <= 1){%>disabled<% } %>">
            <a rel="prev start" href="./<%page-1%>">&#8592; Previous</a></li> 
            <!-- Makes a link to each page, setting the current page to active -->
            <% for(var i = 1; i <= numPages; i++){%>
              <li <%if(page == i){%>class="active"<% } %>><a href="./<%i%>"><%=i%></a></li> 
            <% } %>

            <li class="next next_page <%if(page >= numPages){%>disabled<% } %>"><a href="<%page+1%>">Next &#8594;</a></li>
            </ul></div>
      </div>
            <div class="form-group search-inline">
              <input type="text" placeholder="Search" class="form-control">
            </div>
            <div class="form-group search-inline">
              <h4>Results for: <%=term%></h4>
            </div>
            <% results.forEach(function(article){%>
      <div class="well search-result">
        <div class="content-text">
          <h3><a class="search-title" href='/article/<%=article.articleID%>'><%=article.title%></a></h3>
          <p><%=article.intro%>
          </p>
        </div>
        <div class="tag-list-footer">
          <p>
          <% article.tags.forEach(function(tag){%>
            <span><a href='/search/<%=tag%>'><%=tag%></a></span>
          <% }) %>
          </p>
        </div>
      </div>
        <% }) %>

     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/views/js/client.js"></script>
  </body>

</html>